## Custom decision tree

Using the CustomDecisionTree class in CustomDecisionTree.py.

In [17]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [18]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [19]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [20]:
from CustomDecisionTree import CustomDecisionTree
model = CustomDecisionTree()
model.fit(inputs_n.values, target.values)
model.score(inputs_n.values, target.values)

1.0

#### Comparing with sklearn Decision tree classifier

In [21]:
from sklearn.tree import DecisionTreeClassifier

sk_model = DecisionTreeClassifier()
sk_model.fit(inputs_n.values, target.values)

sk_accuracy = sk_model.score(inputs_n.values, target.values)
print("Sklearn DecisionTreeClassifier accuracy:", sk_accuracy)

Sklearn DecisionTreeClassifier accuracy: 1.0